In [1]:
import pandas as pd
import numpy as np
import scipy as sc

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [2]:
cd data

E:\Movie-Reccomendation-App\data

In [3]:
ls

 Volume in drive E is projects
 Volume Serial Number is 7261-B979

 Directory of E:\Movie-Reccomendation-App\data

10-01-2023  17:09    <DIR>          .
10-01-2023  17:09    <DIR>          ..
26-10-2022  13:00         1,962,271 movies.dat
26-10-2022  13:00        27,615,971 ratings.dat
26-10-2022  13:00         1,306,136 users.dat
               3 File(s)     30,884,378 bytes
               2 Dir(s)   8,102,215,680 bytes free

In [4]:
cd ..

E:\Movie-Reccomendation-App

In [7]:
users = pd.read_csv('data/users.dat' , sep = '::'
                   ,names=['user_id', 'twitter_id'] , engine='python')

In [9]:
users.head()

   user_id  twitter_id
0        1   139564917
1        2    17528189
2        3   522540374
3        4   475571186
4        5   215022153

In [10]:
ratings = pd.read_csv('data/ratings.dat', engine = 'python'
                     ,sep='::', names=['user_id', 'movie_id', 'rating'
                                       , 'rating_timestamp']).sort_values('rating_timestamp')

In [11]:
ratings.head()

        user_id  movie_id  rating  rating_timestamp
147805    11639   2171847       6        1362062307
613758    48189    444778       8        1362062624
641371    50219   1411238       6        1362062838
679235    52967   1496422       7        1362063503
779780    61176    118799       5        1362063653