In [1]:
import pandas as pd
import numpy as np
import scipy as sc

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [2]:
cd data

E:\Movie-Reccomendation-App\data

In [3]:
ls

 Volume in drive E is projects
 Volume Serial Number is 7261-B979

 Directory of E:\Movie-Reccomendation-App\data

15-01-2023  13:43    <DIR>          .
15-01-2023  13:43    <DIR>          ..
13-01-2023  14:25         2,000,289 movies.dat
13-01-2023  14:25        28,537,369 ratings.dat
13-01-2023  14:25         1,377,843 users.dat
               3 File(s)     31,915,501 bytes
               2 Dir(s)   7,996,076,032 bytes free

In [4]:
cd ..

E:\Movie-Reccomendation-App

In [5]:
users = pd.read_csv('data/users.dat' , sep = '::'
                   ,names=['user_id', 'twitter_id'] , engine='python')

In [6]:
users.head()

   user_id  twitter_id
0        1   139564917
1        2    17528189
2        3   522540374
3        4   475571186
4        5   215022153

In [7]:
ratings = pd.read_csv('data/ratings.dat', engine = 'python'
                     ,sep='::', names=['user_id', 'movie_id', 'rating'
                                       , 'rating_timestamp']).sort_values('rating_timestamp')

In [8]:
ratings.head()

        user_id  movie_id  rating  rating_timestamp
147805    11639   2171847       6        1362062307
613758    48189    444778       8        1362062624
641371    50219   1411238       6        1362062838
679235    52967   1496422       7        1362063503
779780    61176    118799       5        1362063653

In [9]:
ratings["rating_timestamp"] = pd.to_datetime(ratings["rating_timestamp"], unit='s')

In [10]:
ratings

        user_id  movie_id  rating    rating_timestamp
147805    11639   2171847       6 2013-02-28 14:38:27
613758    48189    444778       8 2013-02-28 14:43:44
641371    50219   1411238       6 2013-02-28 14:47:18
679235    52967   1496422       7 2013-02-28 14:58:23
779780    61176    118799       5 2013-02-28 15:00:53
...         ...       ...     ...                 ...
870903    68367  11214590       8 2021-11-24 03:52:22
258285    20518   6264654       7 2021-11-24 04:16:17
223243    17712   3183660       8 2021-11-24 04:42:23
69681      5309     84695       5 2021-11-24 04:55:15
699621    54635   1341710       4 2021-11-24 05:41:29

[921398 rows x 4 columns]

In [11]:
movies = pd.read_csv('data/movies.dat', engine = 'python'
                    ,sep='::', names=['movie_id', 'movie_title', 'genre'])

In [12]:
movies

,movie_id,movie_title,genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumi√®re (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror
...,...,...,...
38013,15711402,Les rois de l&x27;arnaque (2021),Crime|Documentary
38014,15831978,Cash (2021),NaN
38015,15839820,Sompoy (2021),Comedy|Romance
38016,15842076,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
38017,16058736,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [13]:
movies.isnull().sum()

movie_id        0
movie_title     0
genre          54
dtype: int64

In [14]:
ratings.isnull().sum()

user_id             0
movie_id            0
rating              0
rating_timestamp    0
dtype: int64

In [15]:
users.isnull().sum()

user_id       0
twitter_id    0
dtype: int64

In [16]:
movie_ratings = (ratings.set_index('movie_id')
                .join(movies.set_index('movie_id'),how='left')
                )

In [17]:
movie_ratings

,user_id,rating,rating_timestamp,movie_title,genre
movie_id,,,,,
8,43471,5,2014-04-08 18:20:11,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
10,71498,10,2014-10-09 18:15:53,La sortie des usines Lumi√®re (1895),Documentary|Short
12,70439,10,2015-08-10 23:16:19,The Arrival of a Train (1896),Documentary|Short
25,38130,8,2017-02-27 10:04:59,The Oxford and Cambridge University Boat Race ...,NaN
91,5887,6,2013-11-23 18:59:55,Le manoir du diable (1896),Short|Horror
...,...,...,...,...,...
15711402,50282,6,2021-11-11 21:40:58,Les rois de l&x27;arnaque (2021),Crime|Documentary
15831978,5608,7,2021-11-21 18:11:40,Cash (2021),NaN
15839820,45682,7,2021-11-13 08:17:11,Sompoy (2021),Comedy|Romance
15842076,279,10,2021-11-07 16:42:38,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
16058736,279,10,2021-11-16 20:39:11,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [18]:
new_tweets = pd.read_csv('tweets.csv', sep = ',')

In [19]:
new_tweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1613923232071000067,1613923232071000067,2023-01-13 21:07:38 India Standard Time,2023-01-13,21:07:38,530,1165430297426612226,karusouu,Karuuu‚ÄºÔ∏è,NaN,I rated Puss in Boots (2011) 7/10 #IMDb ŸÖŸÖÿ™ÿπÿå...,und,[],['https://www.imdb.com/title/tt0448694'],[],0,0,0,['imdb'],[],https://twitter.com/karusouu/status/1613923232...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1613922553399054336,1613922553399054336,2023-01-13 21:04:56 India Standard Time,2023-01-13,21:04:56,530,2351138963,mwadea222,TigerüêÖ,NaN,I rated White Noise (2022) 3/10 #IMDb https:/...,en,[],['https://www.imdb.com/title/tt6160448'],[],0,0,0,['imdb'],[],https://twitter.com/mwadea222/status/161392255...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1613913039903809538,1613913039903809538,2023-01-13 20:27:08 India Standard Time,2023-01-13,20:27:08,530,1446936253,dgear86,Dan Gear,NaN,I rated She Said (2022) 9/10 #IMDb https://t....,en,[],['https://www.imdb.com/title/tt14807308'],[],0,0,0,['imdb'],[],https://twitter.com/DGear86/status/16139130399...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1613912747439267842,1613912747439267842,2023-01-13 20:25:58 India Standard Time,2023-01-13,20:25:58,530,100020123,theottodude,Otto TheBierDude,NaN,I rated 1941 (1979) 7/10 #IMDb https://t.co/...,en,[],['https://www.imdb.com/title/tt0078723'],[],0,0,0,['imdb'],[],https://twitter.com/TheOttoDude/status/1613912...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1613911812860436480,1613911812860436480,2023-01-13 20:22:15 India Standard Time,2023-01-13,20:22:15,530,956787255489818625,bvbker,ìÉµ,NaN,I rated Kaleidoscope: Green (S1.E3) 10/10 #IMD...,en,[],['https://www.imdb.com/title/tt15463776/'],[],0,0,0,['imdb'],[],https://twitter.com/bvbker/status/161391181286...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,1610332094391091200,1610332094391091200,2023-01-03 23:17:44 India Standard Time,2023-01-03,23:17:44,530,620953,buckeyefrommich,David Garrett,NaN,Movie #449: I rated The Witch (1952) 6.5/10 #I...,en,[],['https://www.imdb.com/title/tt0044974'],[],0,0,1,"['imdb', 'thewitch', 'horror', 'horrormovies',...",[],https://twitter.com/BuckeyefromMich/status/161...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1451,1610328367953231876,1610328367953231876,2023-01-03 23:02:56 India Standard Time,2023-01-03,23:02:56,530,446408953,ahmed_alkoblan,ŸÖ.ÿßÿ≠ŸÖÿØ ŸÖÿ∑ÿßÿπŸÖ ŸÉŸàŸÅŸäŸáÿßÿ™ ÿßŸÑÿ±Ÿäÿßÿ∂,NaN,I rated Boiling Point (2021) 8/10 #IMDb ŸÅŸäŸÑŸÖ ÿ™...,ar,[],['https://m.imdb.com/title/tt11127680/'],[],0,1,2,['imdb'],[],https://twitter.com/ahmed_alkoblan/status/1610...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1452,1610325194257698820,1610325194257698820,2023-01-03 22:50:19 India Standard Time,2023-01-03,22:50:19,530,1101595844934017026,interlink_ed,||||||||||,NaN,I rated There Will Be Blood (2007) 10/10 #IMD...,en,[],['https://www.imdb.com/title/tt0469494'],[],0,0,0,['imdb'],[],https://twitter.com/interlink_ed/status/161032...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1453,1610322258324594695,1610322258324594695,2023-01-03 22:38:39 India Standard Time,2023-01-03,22:38:39,530,1350047832,vquin96427,Vincent Quinones üíô,NaN,I rated Not as a Stranger (1955) 6/10 #IMDb ü•ºü©ª...,en,[],['https://www.imdb.com/title/tt0048432'],[],0,0,0,['imdb'],[],https://twitter.com/vquin96427/status/16103222...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1454,1610318168295088134,1610318168295088134,2023-01-03 22:22:24 India Standard Time,2023-01-03,22:22:24,530,238227554,imantosh,Imanol Atchet Ô£ø,NaN,I rated Die unendliche Geschichte (1984) 7/10 ...,de,[],['https://www.imdb.com/title/tt0088323'],[],0,0,0,['imdb'],[],https://twitter.com/imantosh/status/1610318168...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [20]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1455 non-null   int64
 1   conversation_id  1455 non-null   int64
 2   created_at       1455 non-null   object
 3   date             1455 non-null   object
 4   time             1455 non-null   object
 5   timezone         1455 non-null   int64
 6   user_id          1455 non-null   int64
 7   username         1455 non-null   object
 8   name             1455 non-null   object
 9   place            0 non-null      float64
 10  tweet            1455 non-null   object
 11  language         1455 non-null   object
 12  mentions         1455 non-null   object
 13  urls             1455 non-null   object
 14  photos           1455 non-null   object
 15  replies_count    1455 non-null   int64
 16  retweets_count   1455 non-null   int64
 17  likes_count      1455 non-null   int64
 18  hashtags         1455 non-null   object
 19  cashtags         1455 non-null   object
 20  link             1455 non-null   object
 21  retweet          1455 non-null   bool
 22  quote_url        2 non-null      object
 23  video            1455 non-null   int64
 24  thumbnail        7 non-null      object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         1455 non-null   object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(11), int64(8), object(16)
memory usage: 399.4+ KB

In [21]:
new_tweets.describe()

,id,conversation_id,timezone,user_id,place,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.455000e+03,1.455000e+03,1455.0,1.455000e+03,0.0,1455.000000,1455.000000,1455.000000,1455.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.612065e+18,1.611639e+18,530.0,3.050245e+17,NaN,0.235739,0.075601,0.522337,0.004811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.959863e+14,1.617867e+16,0.0,5.297798e+17,NaN,1.045111,0.562273,3.812221,0.069218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.610318e+18,9.961184e+17,530.0,6.209530e+05,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.611261e+18,1.611253e+18,530.0,1.610533e+08,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.611999e+18,1.611999e+18,530.0,4.718948e+08,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.612899e+18,1.612899e+18,530.0,7.416080e+17,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.613923e+18,1.613923e+18,530.0,1.606105e+18,NaN,23.000000,6.000000,112.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
new_tweets[['created_at', 'date']]

                                   created_at        date
0     2023-01-13 21:07:38 India Standard Time  2023-01-13
1     2023-01-13 21:04:56 India Standard Time  2023-01-13
2     2023-01-13 20:27:08 India Standard Time  2023-01-13
3     2023-01-13 20:25:58 India Standard Time  2023-01-13
4     2023-01-13 20:22:15 India Standard Time  2023-01-13
...                                       ...         ...
1450  2023-01-03 23:17:44 India Standard Time  2023-01-03
1451  2023-01-03 23:02:56 India Standard Time  2023-01-03
1452  2023-01-03 22:50:19 India Standard Time  2023-01-03
1453  2023-01-03 22:38:39 India Standard Time  2023-01-03
1454  2023-01-03 22:22:24 India Standard Time  2023-01-03

[1455 rows x 2 columns]

In [23]:
new_tweets["created_at"] = new_tweets["created_at"].str[:-19]

In [24]:
new_tweets["created_at"] = pd.to_datetime(new_tweets["created_at"])
new_tweets["created_at"]

0      2023-01-13 21:07:38
1      2023-01-13 21:04:56
2      2023-01-13 20:27:08
3      2023-01-13 20:25:58
4      2023-01-13 20:22:15
               ...
1450   2023-01-03 23:17:44
1451   2023-01-03 23:02:56
1452   2023-01-03 22:50:19
1453   2023-01-03 22:38:39
1454   2023-01-03 22:22:24
Name: created_at, Length: 1455, dtype: datetime64[ns]

In [25]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1455 non-null   int64
 1   conversation_id  1455 non-null   int64
 2   created_at       1455 non-null   datetime64[ns]
 3   date             1455 non-null   object
 4   time             1455 non-null   object
 5   timezone         1455 non-null   int64
 6   user_id          1455 non-null   int64
 7   username         1455 non-null   object
 8   name             1455 non-null   object
 9   place            0 non-null      float64
 10  tweet            1455 non-null   object
 11  language         1455 non-null   object
 12  mentions         1455 non-null   object
 13  urls             1455 non-null   object
 14  photos           1455 non-null   object
 15  replies_count    1455 non-null   int64
 16  retweets_count   1455 non-null   int64
 17  likes_count      1455 non-null   int64
 18  hashtags         1455 non-null   object
 19  cashtags         1455 non-null   object
 20  link             1455 non-null   object
 21  retweet          1455 non-null   bool
 22  quote_url        2 non-null      object
 23  video            1455 non-null   int64
 24  thumbnail        7 non-null      object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         1455 non-null   object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), datetime64[ns](1), float64(11), int64(8), object(15)
memory usage: 399.4+ KB

In [26]:
new_tweets.drop(columns = ['conversation_id', 'date', 'timezone', 'name', 'place', 'language', 
                           'mentions', 'urls', 'photos', 'replies_count', 'cashtags', 'link', 
                           'retweet', 'quote_url', 'video', 'thumbnail', 'near', 'geo', 'source',
                           'user_rt_id','user_rt', 'reply_to', 'retweet_id', 'retweet_date', 
                           'translate', 'trans_src', 'trans_dest'
                          ], inplace=True)

In [27]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1455 non-null   int64
 1   created_at      1455 non-null   datetime64[ns]
 2   time            1455 non-null   object
 3   user_id         1455 non-null   int64
 4   username        1455 non-null   object
 5   tweet           1455 non-null   object
 6   retweets_count  1455 non-null   int64
 7   likes_count     1455 non-null   int64
 8   hashtags        1455 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 102.4+ KB

In [28]:
new_tweets

,id,created_at,time,user_id,username,tweet,retweets_count,likes_count,hashtags
0,1613923232071000067,2023-01-13 21:07:38,21:07:38,1165430297426612226,karusouu,I rated Puss in Boots (2011) 7/10 #IMDb ŸÖŸÖÿ™ÿπÿå...,0,0,['imdb']
1,1613922553399054336,2023-01-13 21:04:56,21:04:56,2351138963,mwadea222,I rated White Noise (2022) 3/10 #IMDb https:/...,0,0,['imdb']
2,1613913039903809538,2023-01-13 20:27:08,20:27:08,1446936253,dgear86,I rated She Said (2022) 9/10 #IMDb https://t....,0,0,['imdb']
3,1613912747439267842,2023-01-13 20:25:58,20:25:58,100020123,theottodude,I rated 1941 (1979) 7/10 #IMDb https://t.co/...,0,0,['imdb']
4,1613911812860436480,2023-01-13 20:22:15,20:22:15,956787255489818625,bvbker,I rated Kaleidoscope: Green (S1.E3) 10/10 #IMD...,0,0,['imdb']
...,...,...,...,...,...,...,...,...,...
1450,1610332094391091200,2023-01-03 23:17:44,23:17:44,620953,buckeyefrommich,Movie #449: I rated The Witch (1952) 6.5/10 #I...,0,1,"['imdb', 'thewitch', 'horror', 'horrormovies',..."
1451,1610328367953231876,2023-01-03 23:02:56,23:02:56,446408953,ahmed_alkoblan,I rated Boiling Point (2021) 8/10 #IMDb ŸÅŸäŸÑŸÖ ÿ™...,1,2,['imdb']
1452,1610325194257698820,2023-01-03 22:50:19,22:50:19,1101595844934017026,interlink_ed,I rated There Will Be Blood (2007) 10/10 #IMD...,0,0,['imdb']
1453,1610322258324594695,2023-01-03 22:38:39,22:38:39,1350047832,vquin96427,I rated Not as a Stranger (1955) 6/10 #IMDb ü•ºü©ª...,0,0,['imdb']
1454,1610318168295088134,2023-01-03 22:22:24,22:22:24,238227554,imantosh,I rated Die unendliche Geschichte (1984) 7/10 ...,0,0,['imdb']

In [29]:
new_tweets.drop(columns = ['time', 'username', 'hashtags'], inplace = True)
new_tweets.head(5)

,id,created_at,user_id,tweet,retweets_count,likes_count
0,1613923232071000067,2023-01-13 21:07:38,1165430297426612226,I rated Puss in Boots (2011) 7/10 #IMDb ŸÖŸÖÿ™ÿπÿå...,0,0
1,1613922553399054336,2023-01-13 21:04:56,2351138963,I rated White Noise (2022) 3/10 #IMDb https:/...,0,0
2,1613913039903809538,2023-01-13 20:27:08,1446936253,I rated She Said (2022) 9/10 #IMDb https://t....,0,0
3,1613912747439267842,2023-01-13 20:25:58,100020123,I rated 1941 (1979) 7/10 #IMDb https://t.co/...,0,0
4,1613911812860436480,2023-01-13 20:22:15,956787255489818625,I rated Kaleidoscope: Green (S1.E3) 10/10 #IMD...,0,0

In [30]:
new_tweets['tweet'][2]

'I rated She Said (2022) 9/10 #IMDb  https://t.co/U2thepZdOG'

In [31]:
new_tweets[['tweet', 'temp']]= new_tweets['tweet'].str.split("#IMDb", expand=True)

In [32]:
new_tweets['tweet']

0                   I rated Puss in Boots (2011) 7/10
1                     I rated White Noise (2022) 3/10
2                        I rated She Said (2022) 9/10
3                           I rated 1941 (1979) 7/10
4           I rated Kaleidoscope: Green (S1.E3) 10/10
                             ...
1450      Movie #449: I rated The Witch (1952) 6.5/10
1451                I rated Boiling Point (2021) 8/10
1452        I rated There Will Be Blood (2007) 10/10
1453            I rated Not as a Stranger (1955) 6/10
1454    I rated Die unendliche Geschichte (1984) 7/10
Name: tweet, Length: 1455, dtype: object

In [33]:
new_tweets['temp']

0         ŸÖŸÖÿ™ÿπÿå ÿßŸÑÿßŸÜ ÿ¨ÿßŸáÿ≤ ŸÑŸÑÿ´ÿßŸÜŸäüò§  https://t.co/F7g2n6...
1                                 https://t.co/ikqAh2rywp
2                                 https://t.co/U2thepZdOG
3                                 https://t.co/otlUatouhS
4                                 https://t.co/hw7lwW5D8v
                              ...
1450     #TheWitch #Horror #HorrorMovies #HorrorFamily...
1451     ŸÅŸäŸÑŸÖ ÿ™ÿ≠ŸÅÿ© ÿ≥ŸäŸÜŸÖÿßÿ¶Ÿäÿ© ÿ≥ÿßÿπÿ© ŸàŸÜÿµ ŸÖŸÜ ÿßŸÑÿ∂ÿ∫ÿ∑ ÿπŸÑŸâ ÿßŸÑÿ¥Ÿä...
1452                              https://t.co/nWXm0PLOpF
1453                      ü•ºü©ªü©∫ü•ºü©ªü©∫  https://t.co/YAfZni7QQ5
1454                              https://t.co/jUePUCdjta
Name: temp, Length: 1455, dtype: object

In [34]:
new_tweets.drop(columns = ['temp'], inplace = True)

In [35]:
new_tweets

,id,created_at,user_id,tweet,retweets_count,likes_count
0,1613923232071000067,2023-01-13 21:07:38,1165430297426612226,I rated Puss in Boots (2011) 7/10,0,0
1,1613922553399054336,2023-01-13 21:04:56,2351138963,I rated White Noise (2022) 3/10,0,0
2,1613913039903809538,2023-01-13 20:27:08,1446936253,I rated She Said (2022) 9/10,0,0
3,1613912747439267842,2023-01-13 20:25:58,100020123,I rated 1941 (1979) 7/10,0,0
4,1613911812860436480,2023-01-13 20:22:15,956787255489818625,I rated Kaleidoscope: Green (S1.E3) 10/10,0,0
...,...,...,...,...,...,...
1450,1610332094391091200,2023-01-03 23:17:44,620953,Movie #449: I rated The Witch (1952) 6.5/10,0,1
1451,1610328367953231876,2023-01-03 23:02:56,446408953,I rated Boiling Point (2021) 8/10,1,2
1452,1610325194257698820,2023-01-03 22:50:19,1101595844934017026,I rated There Will Be Blood (2007) 10/10,0,0
1453,1610322258324594695,2023-01-03 22:38:39,1350047832,I rated Not as a Stranger (1955) 6/10,0,0
1454,1610318168295088134,2023-01-03 22:22:24,238227554,I rated Die unendliche Geschichte (1984) 7/10,0,0

In [36]:
new_tweets['tweet']

0                   I rated Puss in Boots (2011) 7/10
1                     I rated White Noise (2022) 3/10
2                        I rated She Said (2022) 9/10
3                           I rated 1941 (1979) 7/10
4           I rated Kaleidoscope: Green (S1.E3) 10/10
                             ...
1450      Movie #449: I rated The Witch (1952) 6.5/10
1451                I rated Boiling Point (2021) 8/10
1452        I rated There Will Be Blood (2007) 10/10
1453            I rated Not as a Stranger (1955) 6/10
1454    I rated Die unendliche Geschichte (1984) 7/10
Name: tweet, Length: 1455, dtype: object

In [37]:
similar_sentences = new_tweets[~new_tweets['tweet'].str.contains("rated")]

In [38]:
similar_sentences

,id,created_at,user_id,tweet,retweets_count,likes_count
96,1613668821121880071,2023-01-13 04:16:42,150261081,The Guilty (2021),0,0
111,1613640689354424330,2023-01-13 02:24:54,150261081,A Walk Among the Tombstones (2014),0,0
340,1612919732935467031,2023-01-11 02:40:05,150261081,The Ninth Gate (1999),0,0
380,1612863421304770568,2023-01-10 22:56:19,150261081,Deep Water (2022),0,0

In [39]:
new_tweets = new_tweets.drop(new_tweets[new_tweets['id'].isin([1613668821121880071,1613640689354424330,1612919732935467031,1612863421304770568])].index)

In [40]:
new_tweets

,id,created_at,user_id,tweet,retweets_count,likes_count
0,1613923232071000067,2023-01-13 21:07:38,1165430297426612226,I rated Puss in Boots (2011) 7/10,0,0
1,1613922553399054336,2023-01-13 21:04:56,2351138963,I rated White Noise (2022) 3/10,0,0
2,1613913039903809538,2023-01-13 20:27:08,1446936253,I rated She Said (2022) 9/10,0,0
3,1613912747439267842,2023-01-13 20:25:58,100020123,I rated 1941 (1979) 7/10,0,0
4,1613911812860436480,2023-01-13 20:22:15,956787255489818625,I rated Kaleidoscope: Green (S1.E3) 10/10,0,0
...,...,...,...,...,...,...
1450,1610332094391091200,2023-01-03 23:17:44,620953,Movie #449: I rated The Witch (1952) 6.5/10,0,1
1451,1610328367953231876,2023-01-03 23:02:56,446408953,I rated Boiling Point (2021) 8/10,1,2
1452,1610325194257698820,2023-01-03 22:50:19,1101595844934017026,I rated There Will Be Blood (2007) 10/10,0,0
1453,1610322258324594695,2023-01-03 22:38:39,1350047832,I rated Not as a Stranger (1955) 6/10,0,0
1454,1610318168295088134,2023-01-03 22:22:24,238227554,I rated Die unendliche Geschichte (1984) 7/10,0,0

In [41]:
new_tweets[['movie_title','year','rating']] = new_tweets['tweet'].str.extract(r'rated (.*) \((.*)\) (.*)')

In [42]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1454
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1451 non-null   int64
 1   created_at      1451 non-null   datetime64[ns]
 2   user_id         1451 non-null   int64
 3   tweet           1451 non-null   object
 4   retweets_count  1451 non-null   int64
 5   likes_count     1451 non-null   int64
 6   movie_title     1437 non-null   object
 7   year            1437 non-null   object
 8   rating          1437 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 113.4+ KB

In [43]:
new_tweets = new_tweets.dropna(subset=['year'])

In [44]:
temp_year = new_tweets[new_tweets['year'].str.contains('^S', regex = True)]
temp_year

,id,created_at,user_id,tweet,retweets_count,likes_count,movie_title,year,rating
4,1613911812860436480,2023-01-13 20:22:15,956787255489818625,I rated Kaleidoscope: Green (S1.E3) 10/10,0,0,Kaleidoscope: Green,S1.E3,10/10
5,1613905633455247362,2023-01-13 19:57:42,250711809,I rated Inspector Morse: Promised Land (S5.E5)...,0,0,Inspector Morse: Promised Land,S5.E5,7/10
16,1613866323896897536,2023-01-13 17:21:30,2729591264,I rated Kimetsu no Yaiba: Layered Memories (S3...,0,0,Kimetsu no Yaiba: Layered Memories,S3.E6,10/10
22,1613837738373173249,2023-01-13 15:27:55,1046204298370080768,I rated #Servant: Pigeon (S4.E1) 8/10,0,0,#Servant: Pigeon,S4.E1,8/10
33,1613773157084852226,2023-01-13 11:11:17,101087679,I rated Accused: Guilty or Innocent?: Screwdri...,0,1,Accused: Guilty or Innocent?: Screwdriver Stab...,S4.E1,6/10
...,...,...,...,...,...,...,...,...,...
1382,1610487664553115650,2023-01-04 09:35:55,31220726,I rated Lost: The Man Behind the Curtain (S3.E...,0,0,Lost: The Man Behind the Curtain,S3.E20,9/10
1383,1610487556734423040,2023-01-04 09:35:29,31220726,I rated Lost: The Brig (S3.E19) 9/10,0,0,Lost: The Brig,S3.E19,9/10
1388,1610446856579842051,2023-01-04 06:53:45,3437023271,I rated Panorama: The Secret World of Trading ...,0,0,Panorama: The Secret World of Trading Nudes,S70.E31,10/10
1428,1610373278652039178,2023-01-04 02:01:23,1443605106944008196,I rated Vikings: All His Angels (S4.E15) 10/10,0,0,Vikings: All His Angels,S4.E15,10/10
1441,1610352910029701120,2023-01-04 00:40:27,3437023271,I rated Ghosts: Alberta's Fan (S1.E9) 8/10,0,0,Ghosts: Alberta's Fan,S1.E9,8/10

In [45]:
new_tweets = new_tweets[~new_tweets['id'].isin(temp_year['id'])]

In [46]:
temp_rows_year = new_tweets[new_tweets['year'].str.len()>4]
temp_rows_year

,id,created_at,user_id,tweet,retweets_count,likes_count,movie_title,year,rating
21,1613846158211784706,2023-01-13 16:01:22,51231721,I rated Man vs. Bee (2022‚Äì2022) 7/10,0,0,Man vs. Bee,2022‚Äì2022,7/10
24,1613835243483729920,2023-01-13 15:18:00,235873057,I rated Treason (2022‚Äì2022) 7/10,0,0,Treason,2022‚Äì2022,7/10
25,1613824412280623105,2023-01-13 14:34:57,1015173954305187840,I rated Kaleidoscope (2023‚Äì2023) 8/10,0,0,Kaleidoscope,2023‚Äì2023,8/10
27,1613817869967544321,2023-01-13 14:08:58,256871815,I rated Wednesday (2022‚Äì¬†) 5/10,0,0,Wednesday,2022‚Äì,5/10
34,1613770796094169088,2023-01-13 11:01:54,24350616,I rated Schitt's Creek (2015‚Äì2020) 8/10,0,0,Schitt's Creek,2015‚Äì2020,8/10
...,...,...,...,...,...,...,...,...,...
1407,1610400158780428288,2023-01-04 03:48:12,1232078299540705281,I rated Romantic Getaway (2023‚Äì¬†) 5/10,0,0,Romantic Getaway,2023‚Äì,5/10
1417,1610393990884368384,2023-01-04 03:23:41,1404939968,I rated The White Lotus (2021‚Äì2023) 10/10,0,0,The White Lotus,2021‚Äì2023,10/10
1423,1610388442889785344,2023-01-04 03:01:39,1248143477029863431,I rated The White Lotus (2021‚Äì2023) 9/10,0,1,The White Lotus,2021‚Äì2023,9/10
1426,1610375949605900289,2023-01-04 02:12:00,90360438,I rated The Terminal List (TV Series 2022‚Äì ) 1...,1,2,The Terminal List,TV Series 2022‚Äì,10/10 -
1434,1610366831356690434,2023-01-04 01:35:46,19554530,I rated The House Across the Street (2022‚Äì¬†) 3...,0,0,The House Across the Street,2022‚Äì,3/10

In [47]:
new_tweets = new_tweets[~new_tweets['id'].isin(temp_rows_year['id'])]

In [48]:
new_tweets['year'] = pd.to_numeric(new_tweets['year'])

In [49]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1131 entries, 0 to 1454
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1131 non-null   int64
 1   created_at      1131 non-null   datetime64[ns]
 2   user_id         1131 non-null   int64
 3   tweet           1131 non-null   object
 4   retweets_count  1131 non-null   int64
 5   likes_count     1131 non-null   int64
 6   movie_title     1131 non-null   object
 7   year            1131 non-null   int64
 8   rating          1131 non-null   object
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 88.4+ KB

In [50]:
new_tweets["rating"] = new_tweets["rating"].str[:-4]
new_tweets['rating']

0         7
1         3
2         9
3        7/
6         7
       ...
1450    6.5
1451      8
1452    10/
1453      6
1454      7
Name: rating, Length: 1131, dtype: object

In [51]:
temp_rating = new_tweets[new_tweets['rating'].str.endswith('/')]
temp_rating

,id,created_at,user_id,tweet,retweets_count,likes_count,movie_title,year,rating
3,1613912747439267842,2023-01-13 20:25:58,100020123,I rated 1941 (1979) 7/10,0,0,1941,1979,7/
8,1613900475354472450,2023-01-13 19:37:12,1488211753603411969,I rated Vertigo (1958) 10/10,0,0,Vertigo,1958,10/
93,1613675272317935617,2023-01-13 04:42:20,1497963222011416578,I rated Sattar (2022) 7/10,0,0,Sattar,2022,7/
125,1613618705933471754,2023-01-13 00:57:33,23544265,I rated Avatar: The Way of Water (2022) 8/10,0,0,Avatar: The Way of Water,2022,8/
142,1613560486540316673,2023-01-12 21:06:13,100020123,I rated Booksmart (2019) 7/10,0,0,Booksmart,2019,7/
143,1613555256004075520,2023-01-12 20:45:26,1488211753603411969,I rated Night on Earth (1991) 10/10,0,2,Night on Earth,1991,10/
187,1613373879279390731,2023-01-12 08:44:42,825289795291213825,I rated Dunkirk (2017) 7/10,0,0,Dunkirk,2017,7/
190,1613362288035074049,2023-01-12 07:58:38,791228537256697856,I rated Enemy at the Gates (2001) 8/10,0,0,Enemy at the Gates,2001,8/
205,1613324407446933505,2023-01-12 05:28:07,1008144369684242432,I rated A Few Good Men (1992) 10/10,0,0,A Few Good Men,1992,10/
223,1613284173380292608,2023-01-12 02:48:14,21643377,I rated The Last Vermeer (2019) 7/10,0,0,The Last Vermeer,2019,7/
252,1613248304984252438,2023-01-12 00:25:43,100020123,I rated Love Thy Neighbour (1973) 6/10,0,0,Love Thy Neighbour,1973,6/
260,1613225070985416710,2023-01-11 22:53:23,23544265,I rated Smile (2022) 8/10,0,1,Smile,2022,8/
265,1613207281394384903,2023-01-11 21:42:42,1084933167985897473,I rated Molly's Game (2017) 8/10,0,0,Molly's Game,2017,8/
314,1613005751622025216,2023-01-11 08:21:54,1488211753603411969,I rated Adam (2009) 6/10,0,0,Adam,2009,6/
339,1612925457061511173,2023-01-11 03:02:50,946197227906662400,I rated Howl's Moving Castle (2004) 10/10,0,0,Howl's Moving Castle,2004,10/
376,1612872271202291712,2023-01-10 23:31:29,895470110,I rated Pearl (2022) 9/10,0,1,Pearl,2022,9/
396,1612805809787867140,2023-01-10 19:07:24,599701723,I rated 12 Angry Men (1957) 7/10,0,0,12 Angry Men,1957,7/
413,1612708862997712899,2023-01-10 12:42:10,804357087044190208,I rated Animal Kingdom (2010) 7/10,0,0,Animal Kingdom,2010,7/
420,1612683593892986880,2023-01-10 11:01:45,839980800087097344,I rated Harry Potter and the Goblet of Fire (2...,0,0,Harry Potter and the Goblet of Fire,2005,8/
463,1612602558182309891,2023-01-10 05:39:45,2258867891,I rated The Menu (2022) 8/10,0,0,The Menu,2022,8/
517,1612514077636722688,2023-01-09 23:48:09,1253878379926958081,I rated White Chicks (2004) 9/10,0,0,White Chicks,2004,9/
552,1612309143024541697,2023-01-09 10:13:49,1369751966432264197,I rated Black Adam (2022) 7/10,0,0,Black Adam,2022,7/
597,1612213792271745025,2023-01-09 03:54:56,1369751966432264197,I rated All Quiet on the Western Front (2022) ...,0,0,All Quiet on the Western Front,2022,7/
626,1612180373261139970,2023-01-09 01:42:08,213987411,I rated –ü–∏–Ω–æ–∫–∫–∏–æ –ì–∏–ª—å–µ—Ä–º–æ –¥–µ–ª—å –¢–æ—Ä–æ (2022) 7/10,0,0,–ü–∏–Ω–æ–∫–∫–∏–æ –ì–∏–ª—å–µ—Ä–º–æ –¥–µ–ª—å –¢–æ—Ä–æ,2022,7/
628,1612179366573924352,2023-01-09 01:38:08,165191999,I rated The Pale Blue Eye (2022) 8/10,0,1,The Pale Blue Eye,2022,8/
629,1612179295232720898,2023-01-09 01:37:51,1253878379926958081,I rated The Next Three Days (2010) 6/10,0,0,The Next Three Days,2010,6/
642,1612163215714033664,2023-01-09 00:33:57,1462797587438882822,I rated Brave (2012) 9/10,0,0,Brave,2012,9/
644,1612158767008718854,2023-01-09 00:16:17,1462797587438882822,I rated The Pale Blue Eye (2022) 7/10,0,0,The Pale Blue Eye,2022,7/
653,1612140338977640448,2023-01-08 23:03:03,100020123,I rated The Scorpion King (2002) 8/10,0,0,The Scorpion King,2002,8/
665,1612125867576098821,2023-01-08 22:05:33,1180099964,I rated Munich: The Edge of War (2021) 5/10,0,0,Munich: The Edge of War,2021,5/
679,1612107157566095361,2023-01-08 20:51:12,100020123,I rated The Mummy: Tomb of the Dragon Emperor ...,0,0,The Mummy: Tomb of the Dragon Emperor,2008,9/
681,1612101182603894787,2023-01-08 20:27:27,21643377,I rated Where the Crawdads Sing (2022) 7/10,0,0,Where the Crawdads Sing,2022,7/
692,1612083343423672321,2023-01-08 19:16:34,997998418709700609,I rated Sattar (2022) 8/10,0,0,Sattar,2022,8/
695,1612077164081385472,2023-01-08 18:52:01,100020123,I rated The Mummy Returns (2001) 10/10,0,0,The Mummy Returns,2001,10/
701,1612059313475829760,2023-01-08 17:41:05,100020123,I rated The Mummy (1999) 10/10,0,0,The Mummy,1999,10/
729,1611992959544590336,2023-01-08 13:17:25,457746874,I rated The Trial of the Chicago 7 (2020) 9/10,0,0,The Trial of the Chicago 7,2020,9/
742,1611956142782947329,2023-01-08 10:51:07,1488211753603411969,I rated Harakiri (1962) 10/10,0,1,Harakiri,1962,10/
765,1611905120924573696,2023-01-08 07:28:23,23544265,I rated The Last Broadcast (1998) 5/10,0,0,The Last Broadcast,1998,5/
772,1611884411959607296,2023-01-08 06:06:05,1038443614567899137,I rated Sattar (2022) 10/10,0,0,Sattar,2022,10/
777,1611878691042115586,2023-01-08 05:43:21,839980800087097344,I rated Harry Potter and the Prisoner of Azkab...,0,0,Harry Potter and the Prisoner of Azkaban,2004,8/
782,1611872839904235520,2023-01-08 05:20:06,23544265,I rated The Banshees of Inisherin (2022) 7/10,0,0,The Banshees of Inisherin,2022,7/
806,1611845936371613699,2023-01-08 03:33:12,804357087044190208,I rated The Gift (2015) 7/10,0,0,The Gift,2015,7/
812,1611838890586869761,2023-01-08 03:05:12,213987411,I rated –ú–µ–Ω—é (2022) 8/10,0,0,–ú–µ–Ω—é,2022,8/
832,1611823488515416064,2023-01-08 02:04:00,2703604908,I rated The Banshees of Inisherin (2022) 8/10,0,0,The Banshees of Inisherin,2022,8/
863,1611769830616571907,2023-01-07 22:30:47,842725736821805058,I rated The Pale Blue Eye (2022) 8.5/10,0,1,The Pale Blue Eye,2022,8.5/
881,1611747505984737283,2023-01-07 21:02:04,1180099964,I rated The Anthrax Attacks (2022) 5/10,0,0,The Anthrax Attacks,2022,5/
882,1611746859214569476,2023-01-07 20:59:30,1180099964,I rated The Pale Blue Eye (2022) 6/10,0,0,The Pale Blue Eye,2022,6/
917,1611652590357385217,2023-01-07 14:44:55,1090604845717962753,I rated Mr. Brooks (2007) 8/10,0,0,Mr. Brooks,2007,8/
959,1611527857703948291,2023-01-07 06:29:16,577281529,I rated Knives Out (2019) 9/10,0,0,Knives Out,2019,9/
1005,1611478300362252289,2023-01-07 03:12:21,2203694537,I rated The Pale Blue Eye (2022) 6/10,0,0,The Pale Blue Eye,2022,6/
1012,1611469636238712832,2023-01-07 02:37:55,889294271043567616,I rated Ali and Nino (2016) 5/10,0,0,Ali and Nino,2016,5/
1022,1611457773887168512,2023-01-07 01:50:47,1233820523404124163,I rated The Pale Blue Eye (2022) 8/10,0,0,The Pale Blue Eye,2022,8/
1048,1611406480695037952,2023-01-06 22:26:58,100020123,I rated Beverly Hills Cop III (1994) 7/10,0,0,Beverly Hills Cop III,1994,7/
1059,1611374092782804999,2023-01-06 20:18:16,100020123,I rated Beverly Hills Cop II (1987) 7/10,0,0,Beverly Hills Cop II,1987,7/
1064,1611367233309097984,2023-01-06 19:51:00,1180099964,I rated Mank (2020) 7/10,0,0,Mank,2020,7/
1082,1611294814019981314,2023-01-06 15:03:14,1180099964,I rated Running with the Devil: The Wild World...,0,0,Running with the Devil: The Wild World of John...,2022,4/
1099,1611231962429014021,2023-01-06 10:53:29,1488211753603411969,I rated Carlito's Way (1993) 8/10,0,0,Carlito's Way,1993,8/
1106,1611224100768210944,2023-01-06 10:22:15,64260934,I rated Persuasion (2022) 6/10,0,0,Persuasion,2022,6/
1125,1611189053772152839,2023-01-06 08:02:59,64260934,I rated DC League of Super-Pets (2022) 7/10,0,0,DC League of Super-Pets,2022,7/
1140,1611151448242356228,2023-01-06 05:33:33,1084933167985897473,I rated Avatar: The Way of Water (2022) 9/10,0,0,Avatar: The Way of Water,2022,9/
1150,1611132861607706625,2023-01-06 04:19:42,1509078936814333953,I rated The Menu (2022) 9/10,0,0,The Menu,2022,9/
1159,1611122951692161028,2023-01-06 03:40:19,23544265,I rated The Menu (2022) 7/10,0,1,The Menu,2022,7/
1169,1611102847038365699,2023-01-06 02:20:26,889294271043567616,I rated Seven Years in Tibet (1997) 7/10,0,2,Seven Years in Tibet,1997,7/
1172,1611099224900354048,2023-01-06 02:06:02,714668878,I rated Sattar (2022) 6.5/10,0,0,Sattar,2022,6.5/
1174,1611097174879752198,2023-01-06 01:57:53,1180099964,I rated Jak zostalem gangsterem. Historia praw...,0,0,Jak zostalem gangsterem. Historia prawdziwa,2019,7/
1182,1611082543683493906,2023-01-06 00:59:45,1462797587438882822,I rated The Menu (2022) 8/10,0,0,The Menu,2022,8/
1206,1611016719530708992,2023-01-05 20:38:11,245307889,I rated Jodaeiye Nader az Simin (2011) 10/10,0,0,Jodaeiye Nader az Simin,2011,10/
1222,1610922303335931904,2023-01-05 14:23:01,1191452144584540160,I rated Alone (2020) 4/10,0,0,Alone,2020,4/
1252,1610816457352384512,2023-01-05 07:22:25,4060990781,I rated The Shining (1980) 6/10,0,0,The Shining,1980,6/
1256,1610806615598407681,2023-01-05 06:43:19,839980800087097344,I rated Harry Potter and the Chamber of Secret...,0,0,Harry Potter and the Chamber of Secrets,2002,7/
1272,1610778074156568578,2023-01-05 04:49:54,23544265,I rated Stillwater (2021) 8/10,0,0,Stillwater,2021,8/
1308,1610733206071803918,2023-01-05 01:51:36,1180099964,I rated Fugitive: The Curious Case of Carlos G...,0,0,Fugitive: The Curious Case of Carlos Ghosn,2022,5/
1329,1610655665805991936,2023-01-04 20:43:29,100020123,I rated Another 48 Hrs. (1990) 7/10,0,0,Another 48 Hrs.,1990,7/
1330,1610655611649138706,2023-01-04 20:43:17,100020123,I rated 48 Hrs. (1982) 8/10,0,1,48 Hrs.,1982,8/
1345,1610625129863843842,2023-01-04 18:42:09,1204846076207009792,I rated 28 Days Later... (2002) 5/10,0,0,28 Days Later...,2002,5/
1349,1610607623870595074,2023-01-04 17:32:35,1003583024,"I rated Bardo, False Chronicle of a Handful of...",0,0,"Bardo, False Chronicle of a Handful of Truths",2022,8/
1397,1610427495513313282,2023-01-04 05:36:49,429909849,I rated Sattar (2022) 10/10,0,0,Sattar,2022,10/
1433,1610370308250140672,2023-01-04 01:49:35,420342053,I rated Avatar: The Way of Water (2022) 7/10,0,0,Avatar: The Way of Water,2022,7/
1452,1610325194257698820,2023-01-03 22:50:19,1101595844934017026,I rated There Will Be Blood (2007) 10/10,0,0,There Will Be Blood,2007,10/

In [52]:
new_tweets = new_tweets[~new_tweets['id'].isin(temp_rating['id'])]

In [53]:
temp_rating['rating'] = temp_rating['rating'].str[:-1]

In [54]:
temp_rating

,id,created_at,user_id,tweet,retweets_count,likes_count,movie_title,year,rating
3,1613912747439267842,2023-01-13 20:25:58,100020123,I rated 1941 (1979) 7/10,0,0,1941,1979,7
8,1613900475354472450,2023-01-13 19:37:12,1488211753603411969,I rated Vertigo (1958) 10/10,0,0,Vertigo,1958,10
93,1613675272317935617,2023-01-13 04:42:20,1497963222011416578,I rated Sattar (2022) 7/10,0,0,Sattar,2022,7
125,1613618705933471754,2023-01-13 00:57:33,23544265,I rated Avatar: The Way of Water (2022) 8/10,0,0,Avatar: The Way of Water,2022,8
142,1613560486540316673,2023-01-12 21:06:13,100020123,I rated Booksmart (2019) 7/10,0,0,Booksmart,2019,7
143,1613555256004075520,2023-01-12 20:45:26,1488211753603411969,I rated Night on Earth (1991) 10/10,0,2,Night on Earth,1991,10
187,1613373879279390731,2023-01-12 08:44:42,825289795291213825,I rated Dunkirk (2017) 7/10,0,0,Dunkirk,2017,7
190,1613362288035074049,2023-01-12 07:58:38,791228537256697856,I rated Enemy at the Gates (2001) 8/10,0,0,Enemy at the Gates,2001,8
205,1613324407446933505,2023-01-12 05:28:07,1008144369684242432,I rated A Few Good Men (1992) 10/10,0,0,A Few Good Men,1992,10
223,1613284173380292608,2023-01-12 02:48:14,21643377,I rated The Last Vermeer (2019) 7/10,0,0,The Last Vermeer,2019,7
252,1613248304984252438,2023-01-12 00:25:43,100020123,I rated Love Thy Neighbour (1973) 6/10,0,0,Love Thy Neighbour,1973,6
260,1613225070985416710,2023-01-11 22:53:23,23544265,I rated Smile (2022) 8/10,0,1,Smile,2022,8
265,1613207281394384903,2023-01-11 21:42:42,1084933167985897473,I rated Molly's Game (2017) 8/10,0,0,Molly's Game,2017,8
314,1613005751622025216,2023-01-11 08:21:54,1488211753603411969,I rated Adam (2009) 6/10,0,0,Adam,2009,6
339,1612925457061511173,2023-01-11 03:02:50,946197227906662400,I rated Howl's Moving Castle (2004) 10/10,0,0,Howl's Moving Castle,2004,10
376,1612872271202291712,2023-01-10 23:31:29,895470110,I rated Pearl (2022) 9/10,0,1,Pearl,2022,9
396,1612805809787867140,2023-01-10 19:07:24,599701723,I rated 12 Angry Men (1957) 7/10,0,0,12 Angry Men,1957,7
413,1612708862997712899,2023-01-10 12:42:10,804357087044190208,I rated Animal Kingdom (2010) 7/10,0,0,Animal Kingdom,2010,7
420,1612683593892986880,2023-01-10 11:01:45,839980800087097344,I rated Harry Potter and the Goblet of Fire (2...,0,0,Harry Potter and the Goblet of Fire,2005,8
463,1612602558182309891,2023-01-10 05:39:45,2258867891,I rated The Menu (2022) 8/10,0,0,The Menu,2022,8
517,1612514077636722688,2023-01-09 23:48:09,1253878379926958081,I rated White Chicks (2004) 9/10,0,0,White Chicks,2004,9
552,1612309143024541697,2023-01-09 10:13:49,1369751966432264197,I rated Black Adam (2022) 7/10,0,0,Black Adam,2022,7
597,1612213792271745025,2023-01-09 03:54:56,1369751966432264197,I rated All Quiet on the Western Front (2022) ...,0,0,All Quiet on the Western Front,2022,7
626,1612180373261139970,2023-01-09 01:42:08,213987411,I rated –ü–∏–Ω–æ–∫–∫–∏–æ –ì–∏–ª—å–µ—Ä–º–æ –¥–µ–ª—å –¢–æ—Ä–æ (2022) 7/10,0,0,–ü–∏–Ω–æ–∫–∫–∏–æ –ì–∏–ª—å–µ—Ä–º–æ –¥–µ–ª—å –¢–æ—Ä–æ,2022,7
628,1612179366573924352,2023-01-09 01:38:08,165191999,I rated The Pale Blue Eye (2022) 8/10,0,1,The Pale Blue Eye,2022,8
629,1612179295232720898,2023-01-09 01:37:51,1253878379926958081,I rated The Next Three Days (2010) 6/10,0,0,The Next Three Days,2010,6
642,1612163215714033664,2023-01-09 00:33:57,1462797587438882822,I rated Brave (2012) 9/10,0,0,Brave,2012,9
644,1612158767008718854,2023-01-09 00:16:17,1462797587438882822,I rated The Pale Blue Eye (2022) 7/10,0,0,The Pale Blue Eye,2022,7
653,1612140338977640448,2023-01-08 23:03:03,100020123,I rated The Scorpion King (2002) 8/10,0,0,The Scorpion King,2002,8
665,1612125867576098821,2023-01-08 22:05:33,1180099964,I rated Munich: The Edge of War (2021) 5/10,0,0,Munich: The Edge of War,2021,5
679,1612107157566095361,2023-01-08 20:51:12,100020123,I rated The Mummy: Tomb of the Dragon Emperor ...,0,0,The Mummy: Tomb of the Dragon Emperor,2008,9
681,1612101182603894787,2023-01-08 20:27:27,21643377,I rated Where the Crawdads Sing (2022) 7/10,0,0,Where the Crawdads Sing,2022,7
692,1612083343423672321,2023-01-08 19:16:34,997998418709700609,I rated Sattar (2022) 8/10,0,0,Sattar,2022,8
695,1612077164081385472,2023-01-08 18:52:01,100020123,I rated The Mummy Returns (2001) 10/10,0,0,The Mummy Returns,2001,10
701,1612059313475829760,2023-01-08 17:41:05,100020123,I rated The Mummy (1999) 10/10,0,0,The Mummy,1999,10
729,1611992959544590336,2023-01-08 13:17:25,457746874,I rated The Trial of the Chicago 7 (2020) 9/10,0,0,The Trial of the Chicago 7,2020,9
742,1611956142782947329,2023-01-08 10:51:07,1488211753603411969,I rated Harakiri (1962) 10/10,0,1,Harakiri,1962,10
765,1611905120924573696,2023-01-08 07:28:23,23544265,I rated The Last Broadcast (1998) 5/10,0,0,The Last Broadcast,1998,5
772,1611884411959607296,2023-01-08 06:06:05,1038443614567899137,I rated Sattar (2022) 10/10,0,0,Sattar,2022,10
777,1611878691042115586,2023-01-08 05:43:21,839980800087097344,I rated Harry Potter and the Prisoner of Azkab...,0,0,Harry Potter and the Prisoner of Azkaban,2004,8
782,1611872839904235520,2023-01-08 05:20:06,23544265,I rated The Banshees of Inisherin (2022) 7/10,0,0,The Banshees of Inisherin,2022,7
806,1611845936371613699,2023-01-08 03:33:12,804357087044190208,I rated The Gift (2015) 7/10,0,0,The Gift,2015,7
812,1611838890586869761,2023-01-08 03:05:12,213987411,I rated –ú–µ–Ω—é (2022) 8/10,0,0,–ú–µ–Ω—é,2022,8
832,1611823488515416064,2023-01-08 02:04:00,2703604908,I rated The Banshees of Inisherin (2022) 8/10,0,0,The Banshees of Inisherin,2022,8
863,1611769830616571907,2023-01-07 22:30:47,842725736821805058,I rated The Pale Blue Eye (2022) 8.5/10,0,1,The Pale Blue Eye,2022,8.5
881,1611747505984737283,2023-01-07 21:02:04,1180099964,I rated The Anthrax Attacks (2022) 5/10,0,0,The Anthrax Attacks,2022,5
882,1611746859214569476,2023-01-07 20:59:30,1180099964,I rated The Pale Blue Eye (2022) 6/10,0,0,The Pale Blue Eye,2022,6
917,1611652590357385217,2023-01-07 14:44:55,1090604845717962753,I rated Mr. Brooks (2007) 8/10,0,0,Mr. Brooks,2007,8
959,1611527857703948291,2023-01-07 06:29:16,577281529,I rated Knives Out (2019) 9/10,0,0,Knives Out,2019,9
1005,1611478300362252289,2023-01-07 03:12:21,2203694537,I rated The Pale Blue Eye (2022) 6/10,0,0,The Pale Blue Eye,2022,6
1012,1611469636238712832,2023-01-07 02:37:55,889294271043567616,I rated Ali and Nino (2016) 5/10,0,0,Ali and Nino,2016,5
1022,1611457773887168512,2023-01-07 01:50:47,1233820523404124163,I rated The Pale Blue Eye (2022) 8/10,0,0,The Pale Blue Eye,2022,8
1048,1611406480695037952,2023-01-06 22:26:58,100020123,I rated Beverly Hills Cop III (1994) 7/10,0,0,Beverly Hills Cop III,1994,7
1059,1611374092782804999,2023-01-06 20:18:16,100020123,I rated Beverly Hills Cop II (1987) 7/10,0,0,Beverly Hills Cop II,1987,7
1064,1611367233309097984,2023-01-06 19:51:00,1180099964,I rated Mank (2020) 7/10,0,0,Mank,2020,7
1082,1611294814019981314,2023-01-06 15:03:14,1180099964,I rated Running with the Devil: The Wild World...,0,0,Running with the Devil: The Wild World of John...,2022,4
1099,1611231962429014021,2023-01-06 10:53:29,1488211753603411969,I rated Carlito's Way (1993) 8/10,0,0,Carlito's Way,1993,8
1106,1611224100768210944,2023-01-06 10:22:15,64260934,I rated Persuasion (2022) 6/10,0,0,Persuasion,2022,6
1125,1611189053772152839,2023-01-06 08:02:59,64260934,I rated DC League of Super-Pets (2022) 7/10,0,0,DC League of Super-Pets,2022,7
1140,1611151448242356228,2023-01-06 05:33:33,1084933167985897473,I rated Avatar: The Way of Water (2022) 9/10,0,0,Avatar: The Way of Water,2022,9
1150,1611132861607706625,2023-01-06 04:19:42,1509078936814333953,I rated The Menu (2022) 9/10,0,0,The Menu,2022,9
1159,1611122951692161028,2023-01-06 03:40:19,23544265,I rated The Menu (2022) 7/10,0,1,The Menu,2022,7
1169,1611102847038365699,2023-01-06 02:20:26,889294271043567616,I rated Seven Years in Tibet (1997) 7/10,0,2,Seven Years in Tibet,1997,7
1172,1611099224900354048,2023-01-06 02:06:02,714668878,I rated Sattar (2022) 6.5/10,0,0,Sattar,2022,6.5
1174,1611097174879752198,2023-01-06 01:57:53,1180099964,I rated Jak zostalem gangsterem. Historia praw...,0,0,Jak zostalem gangsterem. Historia prawdziwa,2019,7
1182,1611082543683493906,2023-01-06 00:59:45,1462797587438882822,I rated The Menu (2022) 8/10,0,0,The Menu,2022,8
1206,1611016719530708992,2023-01-05 20:38:11,245307889,I rated Jodaeiye Nader az Simin (2011) 10/10,0,0,Jodaeiye Nader az Simin,2011,10
1222,1610922303335931904,2023-01-05 14:23:01,1191452144584540160,I rated Alone (2020) 4/10,0,0,Alone,2020,4
1252,1610816457352384512,2023-01-05 07:22:25,4060990781,I rated The Shining (1980) 6/10,0,0,The Shining,1980,6
1256,1610806615598407681,2023-01-05 06:43:19,839980800087097344,I rated Harry Potter and the Chamber of Secret...,0,0,Harry Potter and the Chamber of Secrets,2002,7
1272,1610778074156568578,2023-01-05 04:49:54,23544265,I rated Stillwater (2021) 8/10,0,0,Stillwater,2021,8
1308,1610733206071803918,2023-01-05 01:51:36,1180099964,I rated Fugitive: The Curious Case of Carlos G...,0,0,Fugitive: The Curious Case of Carlos Ghosn,2022,5
1329,1610655665805991936,2023-01-04 20:43:29,100020123,I rated Another 48 Hrs. (1990) 7/10,0,0,Another 48 Hrs.,1990,7
1330,1610655611649138706,2023-01-04 20:43:17,100020123,I rated 48 Hrs. (1982) 8/10,0,1,48 Hrs.,1982,8
1345,1610625129863843842,2023-01-04 18:42:09,1204846076207009792,I rated 28 Days Later... (2002) 5/10,0,0,28 Days Later...,2002,5
1349,1610607623870595074,2023-01-04 17:32:35,1003583024,"I rated Bardo, False Chronicle of a Handful of...",0,0,"Bardo, False Chronicle of a Handful of Truths",2022,8
1397,1610427495513313282,2023-01-04 05:36:49,429909849,I rated Sattar (2022) 10/10,0,0,Sattar,2022,10
1433,1610370308250140672,2023-01-04 01:49:35,420342053,I rated Avatar: The Way of Water (2022) 7/10,0,0,Avatar: The Way of Water,2022,7
1452,1610325194257698820,2023-01-03 22:50:19,1101595844934017026,I rated There Will Be Blood (2007) 10/10,0,0,There Will Be Blood,2007,10

In [55]:
cleaned_tweets = pd.concat([new_tweets, temp_rating], ignore_index=True)
cleaned_tweets

,id,created_at,user_id,tweet,retweets_count,likes_count,movie_title,year,rating
0,1613923232071000067,2023-01-13 21:07:38,1165430297426612226,I rated Puss in Boots (2011) 7/10,0,0,Puss in Boots,2011,7
1,1613922553399054336,2023-01-13 21:04:56,2351138963,I rated White Noise (2022) 3/10,0,0,White Noise,2022,3
2,1613913039903809538,2023-01-13 20:27:08,1446936253,I rated She Said (2022) 9/10,0,0,She Said,2022,9
3,1613904698645389315,2023-01-13 19:53:59,840724738901188615,I rated Sattar (2022) 7/10,0,0,Sattar,2022,7
4,1613901098917695497,2023-01-13 19:39:41,252548813,ÿ™ÿπŸÇŸäŸÖ ŸÑŸÑÿπŸäŸÜ ÿ≥ŸÜÿ© ŸÇÿØÿßŸÖ ÿßŸÜÿ™ÿ∏ÿ± ŸÜÿ≥ÿÆÿ© ÿßŸÑÿßŸäŸÖÿßŸÉÿ≥ ÿ®ŸÑŸàÿ±ÿß...,0,0,Avatar: The Way of Water,2022,8
...,...,...,...,...,...,...,...,...,...
1126,1610625129863843842,2023-01-04 18:42:09,1204846076207009792,I rated 28 Days Later... (2002) 5/10,0,0,28 Days Later...,2002,5
1127,1610607623870595074,2023-01-04 17:32:35,1003583024,"I rated Bardo, False Chronicle of a Handful of...",0,0,"Bardo, False Chronicle of a Handful of Truths",2022,8
1128,1610427495513313282,2023-01-04 05:36:49,429909849,I rated Sattar (2022) 10/10,0,0,Sattar,2022,10
1129,1610370308250140672,2023-01-04 01:49:35,420342053,I rated Avatar: The Way of Water (2022) 7/10,0,0,Avatar: The Way of Water,2022,7
1130,1610325194257698820,2023-01-03 22:50:19,1101595844934017026,I rated There Will Be Blood (2007) 10/10,0,0,There Will Be Blood,2007,10

In [56]:
cleaned_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131 entries, 0 to 1130
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1131 non-null   int64
 1   created_at      1131 non-null   datetime64[ns]
 2   user_id         1131 non-null   int64
 3   tweet           1131 non-null   object
 4   retweets_count  1131 non-null   int64
 5   likes_count     1131 non-null   int64
 6   movie_title     1131 non-null   object
 7   year            1131 non-null   int64
 8   rating          1131 non-null   object
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 79.6+ KB

In [57]:
cleaned_tweets['rating'] = pd.to_numeric(cleaned_tweets['rating'], errors='coerce')

In [58]:
cleaned_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131 entries, 0 to 1130
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1131 non-null   int64
 1   created_at      1131 non-null   datetime64[ns]
 2   user_id         1131 non-null   int64
 3   tweet           1131 non-null   object
 4   retweets_count  1131 non-null   int64
 5   likes_count     1131 non-null   int64
 6   movie_title     1131 non-null   object
 7   year            1131 non-null   int64
 8   rating          1121 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 79.6+ KB

In [ ]:
import logging
from imdb import IMDb

# create an instance of the IMDb class
ia = IMDb()

# create an empty column to store the movie ids
cleaned_tweets['movie_id'] = None

# configure logging
logging.basicConfig(filename='movie_id_search1.log', level=logging.WARNING)

# loop through the titles and search for each movie on IMDb
for i, title in cleaned_tweets.iterrows():
    try:
        movie = ia.search_movie(title['movie_title'])[0]
        movie_id = movie.movieID
        cleaned_tweets.loc[i, 'movie_id'] = movie_id
    except IndexError as e:
        logging.warning(f'No results found for {title["movie_title"]}')
        cleaned_tweets.loc[i, 'movie_id'] = None
    except Exception as e:
        logging.warning(f'An error occurred: {e}')
        cleaned_tweets.loc[i, 'movie_id'] = None

2023-01-15 19:21:35,554 CRITICAL [imdbpy] C:\Users\harsh\anaconda3\lib\site-packages\imdb\_exceptions.py:32: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'https://www.imdb.com/find/?q=Violent+Night&s=tt', 'proxy': '', 'exception type': 'IOError', 'original exception': <HTTPError 500: 'Internal Server Error'>},); kwds: {}
Traceback (most recent call last):
  File "C:\Users\harsh\anaconda3\lib\site-packages\imdb\parser\http\__init__.py", line 233, in retrieve_unicode
    response = uopener.open(url)
  File "C:\Users\harsh\anaconda3\lib\urllib\request.py", line 523, in open
    response = meth(req, response)
  File "C:\Users\harsh\anaconda3\lib\urllib\request.py", line 632, in http_response
    response = self.parent.error(
  File "C:\Users\harsh\anaconda3\lib\urllib\request.py", line 561, in error
    return self._call_chain(*args)
  File "C:\Users\harsh\anaconda3\lib\urllib\request.py", line 494, in _call_chain
    result = func(*args)
  File "C:\Users\harsh\anaconda3\lib\urllib\request.py", line 641, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 500: Internal Server Error