In [19]:
import pandas as pd
import numpy as np
import scipy as sc

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [20]:
cd data

E:\Movie-Reccomendation-App\data

In [21]:
ls

 Volume in drive E is projects
 Volume Serial Number is 7261-B979

 Directory of E:\Movie-Reccomendation-App\data

13-01-2023  14:25    <DIR>          .
13-01-2023  14:25    <DIR>          ..
13-01-2023  14:25         2,000,289 movies.dat
13-01-2023  14:25        28,537,369 ratings.dat
13-01-2023  14:25         1,377,843 users.dat
               3 File(s)     31,915,501 bytes
               2 Dir(s)   8,054,509,568 bytes free

In [22]:
cd ..

E:\Movie-Reccomendation-App

In [23]:
users = pd.read_csv('data/users.dat' , sep = '::'
                   ,names=['user_id', 'twitter_id'] , engine='python')

In [24]:
users.head()

   user_id  twitter_id
0        1   139564917
1        2    17528189
2        3   522540374
3        4   475571186
4        5   215022153

In [25]:
ratings = pd.read_csv('data/ratings.dat', engine = 'python'
                     ,sep='::', names=['user_id', 'movie_id', 'rating'
                                       , 'rating_timestamp']).sort_values('rating_timestamp')

In [26]:
ratings.head()

        user_id  movie_id  rating  rating_timestamp
147805    11639   2171847       6        1362062307
613758    48189    444778       8        1362062624
641371    50219   1411238       6        1362062838
679235    52967   1496422       7        1362063503
779780    61176    118799       5        1362063653

In [27]:
ratings["rating_timestamp"] = pd.to_datetime(ratings["rating_timestamp"], unit='s')

In [28]:
ratings

        user_id  movie_id  rating    rating_timestamp
147805    11639   2171847       6 2013-02-28 14:38:27
613758    48189    444778       8 2013-02-28 14:43:44
641371    50219   1411238       6 2013-02-28 14:47:18
679235    52967   1496422       7 2013-02-28 14:58:23
779780    61176    118799       5 2013-02-28 15:00:53
...         ...       ...     ...                 ...
870903    68367  11214590       8 2021-11-24 03:52:22
258285    20518   6264654       7 2021-11-24 04:16:17
223243    17712   3183660       8 2021-11-24 04:42:23
69681      5309     84695       5 2021-11-24 04:55:15
699621    54635   1341710       4 2021-11-24 05:41:29

[921398 rows x 4 columns]

In [29]:
movies = pd.read_csv('data/movies.dat', engine = 'python'
                    ,sep='::', names=['movie_id', 'movie_title', 'genre'])

In [30]:
movies

,movie_id,movie_title,genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror
...,...,...,...
38013,15711402,Les rois de l&x27;arnaque (2021),Crime|Documentary
38014,15831978,Cash (2021),NaN
38015,15839820,Sompoy (2021),Comedy|Romance
38016,15842076,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
38017,16058736,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [31]:
movies.isnull().sum()

movie_id        0
movie_title     0
genre          54
dtype: int64

In [32]:
ratings.isnull().sum()

user_id             0
movie_id            0
rating              0
rating_timestamp    0
dtype: int64

In [33]:
users.isnull().sum()

user_id       0
twitter_id    0
dtype: int64

In [34]:
movie_ratings = (ratings.set_index('movie_id')
                .join(movies.set_index('movie_id'),how='left')
                )

In [35]:
movie_ratings

,user_id,rating,rating_timestamp,movie_title,genre
movie_id,,,,,
8,43471,5,2014-04-08 18:20:11,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
10,71498,10,2014-10-09 18:15:53,La sortie des usines Lumière (1895),Documentary|Short
12,70439,10,2015-08-10 23:16:19,The Arrival of a Train (1896),Documentary|Short
25,38130,8,2017-02-27 10:04:59,The Oxford and Cambridge University Boat Race ...,NaN
91,5887,6,2013-11-23 18:59:55,Le manoir du diable (1896),Short|Horror
...,...,...,...,...,...
15711402,50282,6,2021-11-11 21:40:58,Les rois de l&x27;arnaque (2021),Crime|Documentary
15831978,5608,7,2021-11-21 18:11:40,Cash (2021),NaN
15839820,45682,7,2021-11-13 08:17:11,Sompoy (2021),Comedy|Romance
15842076,279,10,2021-11-07 16:42:38,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
16058736,279,10,2021-11-16 20:39:11,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN