In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!ls

inspec.ipynb
movies.dat
ratings.dat
users.dat

In [4]:
!head -n5 movies.dat

0000008::Edison Kinetoscopic Record of a Sneeze (1894)::Documentary|Short
0000010::La sortie des usines LumiÃ¨re (1895)::Documentary|Short
0000012::The Arrival of a Train (1896)::Documentary|Short
25::The Oxford and Cambridge University Boat Race (1895)::
0000091::Le manoir du diable (1896)::Short|Horror

In [11]:
movies = pd.read_csv('movies.dat', engine='python', sep='::',
                    names = ['movie_id', 'title', 'genre'])
movies

,movie_id,title,genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror
...,...,...,...
38013,15711402,Les rois de l&x27;arnaque (2021),Crime|Documentary
38014,15831978,Cash (2021),NaN
38015,15839820,Sompoy (2021),Comedy|Romance
38016,15842076,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
38017,16058736,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [12]:
!head -n5 ratings.dat

1::0114508::8::1381006850
2::0499549::9::1376753198
2::1305591::8::1376742507
2::1428538::1::1371307089
3::0075314::1::1595468524

In [13]:
!head -n5 users.dat

1::139564917
2::17528189
3::522540374
4::475571186
5::215022153

In [15]:
ratings = pd.read_csv('ratings.dat', sep='::', engine='python'
                     ,names=['user_id', 'movie_id', 'rating', 'rating_timestamp'])
ratings

        user_id  movie_id  rating  rating_timestamp
0             1    114508       8        1381006850
1             2    499549       9        1376753198
2             2   1305591       8        1376742507
3             2   1428538       1        1371307089
4             3     75314       1        1595468524
...         ...       ...     ...               ...
921393    71705   9893250      10        1613857551
921394    71705   9898858       3        1585958452
921395    71706    172495      10        1587107015
921396    71706    414387      10        1587107852
921397    71707   1623205       6        1362832655

[921398 rows x 4 columns]

In [ ]:
u_r = pd.