In [1]:
import pandas as pd
import numpy as np
import scipy as sc

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [2]:
cd data

E:\Movie-Reccomendation-App\data

In [3]:
ls

 Volume in drive E is projects
 Volume Serial Number is 7261-B979

 Directory of E:\Movie-Reccomendation-App\data

13-01-2023  14:25    <DIR>          .
13-01-2023  14:25    <DIR>          ..
13-01-2023  14:25         2,000,289 movies.dat
13-01-2023  14:25        28,537,369 ratings.dat
13-01-2023  14:25         1,377,843 users.dat
               3 File(s)     31,915,501 bytes
               2 Dir(s)   8,003,850,240 bytes free

In [4]:
cd ..

E:\Movie-Reccomendation-App

In [5]:
users = pd.read_csv('data/users.dat' , sep = '::'
                   ,names=['user_id', 'twitter_id'] , engine='python')

In [6]:
users.head()

   user_id  twitter_id
0        1   139564917
1        2    17528189
2        3   522540374
3        4   475571186
4        5   215022153

In [7]:
ratings = pd.read_csv('data/ratings.dat', engine = 'python'
                     ,sep='::', names=['user_id', 'movie_id', 'rating'
                                       , 'rating_timestamp']).sort_values('rating_timestamp')

In [8]:
ratings.head()

        user_id  movie_id  rating  rating_timestamp
147805    11639   2171847       6        1362062307
613758    48189    444778       8        1362062624
641371    50219   1411238       6        1362062838
679235    52967   1496422       7        1362063503
779780    61176    118799       5        1362063653

In [9]:
ratings["rating_timestamp"] = pd.to_datetime(ratings["rating_timestamp"], unit='s')

In [10]:
ratings

        user_id  movie_id  rating    rating_timestamp
147805    11639   2171847       6 2013-02-28 14:38:27
613758    48189    444778       8 2013-02-28 14:43:44
641371    50219   1411238       6 2013-02-28 14:47:18
679235    52967   1496422       7 2013-02-28 14:58:23
779780    61176    118799       5 2013-02-28 15:00:53
...         ...       ...     ...                 ...
870903    68367  11214590       8 2021-11-24 03:52:22
258285    20518   6264654       7 2021-11-24 04:16:17
223243    17712   3183660       8 2021-11-24 04:42:23
69681      5309     84695       5 2021-11-24 04:55:15
699621    54635   1341710       4 2021-11-24 05:41:29

[921398 rows x 4 columns]

In [11]:
movies = pd.read_csv('data/movies.dat', engine = 'python'
                    ,sep='::', names=['movie_id', 'movie_title', 'genre'])

In [12]:
movies

,movie_id,movie_title,genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror
...,...,...,...
38013,15711402,Les rois de l&x27;arnaque (2021),Crime|Documentary
38014,15831978,Cash (2021),NaN
38015,15839820,Sompoy (2021),Comedy|Romance
38016,15842076,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
38017,16058736,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [13]:
movies.isnull().sum()

movie_id        0
movie_title     0
genre          54
dtype: int64

In [14]:
ratings.isnull().sum()

user_id             0
movie_id            0
rating              0
rating_timestamp    0
dtype: int64

In [15]:
users.isnull().sum()

user_id       0
twitter_id    0
dtype: int64

In [16]:
movie_ratings = (ratings.set_index('movie_id')
                .join(movies.set_index('movie_id'),how='left')
                )

In [17]:
movie_ratings

,user_id,rating,rating_timestamp,movie_title,genre
movie_id,,,,,
8,43471,5,2014-04-08 18:20:11,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
10,71498,10,2014-10-09 18:15:53,La sortie des usines Lumière (1895),Documentary|Short
12,70439,10,2015-08-10 23:16:19,The Arrival of a Train (1896),Documentary|Short
25,38130,8,2017-02-27 10:04:59,The Oxford and Cambridge University Boat Race ...,NaN
91,5887,6,2013-11-23 18:59:55,Le manoir du diable (1896),Short|Horror
...,...,...,...,...,...
15711402,50282,6,2021-11-11 21:40:58,Les rois de l&x27;arnaque (2021),Crime|Documentary
15831978,5608,7,2021-11-21 18:11:40,Cash (2021),NaN
15839820,45682,7,2021-11-13 08:17:11,Sompoy (2021),Comedy|Romance
15842076,279,10,2021-11-07 16:42:38,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
16058736,279,10,2021-11-16 20:39:11,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [18]:
new_tweets = pd.read_csv('tweets.csv', sep = ',')

In [19]:
new_tweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,tweet,language,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1613923232071000067,1613923232071000067,2023-01-13 21:07:38 India Standard Time,2023-01-13,21:07:38,530,1165430297426612226,karusouu,Karuuu‼️,NaN,I rated Puss in Boots (2011) 7/10 #IMDb ممتع،...,und,[],['https://www.imdb.com/title/tt0448694'],[],0,0,0,['imdb'],[],https://twitter.com/karusouu/status/1613923232...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1613922553399054336,1613922553399054336,2023-01-13 21:04:56 India Standard Time,2023-01-13,21:04:56,530,2351138963,mwadea222,Tiger🐅,NaN,I rated White Noise (2022) 3/10 #IMDb https:/...,en,[],['https://www.imdb.com/title/tt6160448'],[],0,0,0,['imdb'],[],https://twitter.com/mwadea222/status/161392255...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1613913039903809538,1613913039903809538,2023-01-13 20:27:08 India Standard Time,2023-01-13,20:27:08,530,1446936253,dgear86,Dan Gear,NaN,I rated She Said (2022) 9/10 #IMDb https://t....,en,[],['https://www.imdb.com/title/tt14807308'],[],0,0,0,['imdb'],[],https://twitter.com/DGear86/status/16139130399...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1613912747439267842,1613912747439267842,2023-01-13 20:25:58 India Standard Time,2023-01-13,20:25:58,530,100020123,theottodude,Otto TheBierDude,NaN,I rated 1941 (1979) 7/10 #IMDb https://t.co/...,en,[],['https://www.imdb.com/title/tt0078723'],[],0,0,0,['imdb'],[],https://twitter.com/TheOttoDude/status/1613912...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1613911812860436480,1613911812860436480,2023-01-13 20:22:15 India Standard Time,2023-01-13,20:22:15,530,956787255489818625,bvbker,𓃵,NaN,I rated Kaleidoscope: Green (S1.E3) 10/10 #IMD...,en,[],['https://www.imdb.com/title/tt15463776/'],[],0,0,0,['imdb'],[],https://twitter.com/bvbker/status/161391181286...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,1610332094391091200,1610332094391091200,2023-01-03 23:17:44 India Standard Time,2023-01-03,23:17:44,530,620953,buckeyefrommich,David Garrett,NaN,Movie #449: I rated The Witch (1952) 6.5/10 #I...,en,[],['https://www.imdb.com/title/tt0044974'],[],0,0,1,"['imdb', 'thewitch', 'horror', 'horrormovies',...",[],https://twitter.com/BuckeyefromMich/status/161...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1451,1610328367953231876,1610328367953231876,2023-01-03 23:02:56 India Standard Time,2023-01-03,23:02:56,530,446408953,ahmed_alkoblan,م.احمد مطاعم كوفيهات الرياض,NaN,I rated Boiling Point (2021) 8/10 #IMDb فيلم ت...,ar,[],['https://m.imdb.com/title/tt11127680/'],[],0,1,2,['imdb'],[],https://twitter.com/ahmed_alkoblan/status/1610...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1452,1610325194257698820,1610325194257698820,2023-01-03 22:50:19 India Standard Time,2023-01-03,22:50:19,530,1101595844934017026,interlink_ed,||||||||||,NaN,I rated There Will Be Blood (2007) 10/10 #IMD...,en,[],['https://www.imdb.com/title/tt0469494'],[],0,0,0,['imdb'],[],https://twitter.com/interlink_ed/status/161032...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1453,1610322258324594695,1610322258324594695,2023-01-03 22:38:39 India Standard Time,2023-01-03,22:38:39,530,1350047832,vquin96427,Vincent Quinones 💙,NaN,I rated Not as a Stranger (1955) 6/10 #IMDb 🥼🩻...,en,[],['https://www.imdb.com/title/tt0048432'],[],0,0,0,['imdb'],[],https://twitter.com/vquin96427/status/16103222...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1454,1610318168295088134,1610318168295088134,2023-01-03 22:22:24 India Standard Time,2023-01-03,22:22:24,530,238227554,imantosh,Imanol Atchet ,NaN,I rated Die unendliche Geschichte (1984) 7/10 ...,de,[],['https://www.imdb.com/title/tt0088323'],[],0,0,0,['imdb'],[],https://twitter.com/imantosh/status/1610318168...,False,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [20]:
new_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1455 entries, 0 to 1454
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1455 non-null   int64
 1   conversation_id  1455 non-null   int64
 2   created_at       1455 non-null   object
 3   date             1455 non-null   object
 4   time             1455 non-null   object
 5   timezone         1455 non-null   int64
 6   user_id          1455 non-null   int64
 7   username         1455 non-null   object
 8   name             1455 non-null   object
 9   place            0 non-null      float64
 10  tweet            1455 non-null   object
 11  language         1455 non-null   object
 12  mentions         1455 non-null   object
 13  urls             1455 non-null   object
 14  photos           1455 non-null   object
 15  replies_count    1455 non-null   int64
 16  retweets_count   1455 non-null   int64
 17  likes_count      1455 non-null   int64
 18  hashtags         1455 non-null   object
 19  cashtags         1455 non-null   object
 20  link             1455 non-null   object
 21  retweet          1455 non-null   bool
 22  quote_url        2 non-null      object
 23  video            1455 non-null   int64
 24  thumbnail        7 non-null      object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         1455 non-null   object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(11), int64(8), object(16)
memory usage: 399.4+ KB

In [21]:
new_tweets.describe()

,id,conversation_id,timezone,user_id,place,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,1.455000e+03,1.455000e+03,1455.0,1.455000e+03,0.0,1455.000000,1455.000000,1455.000000,1455.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.612065e+18,1.611639e+18,530.0,3.050245e+17,NaN,0.235739,0.075601,0.522337,0.004811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.959863e+14,1.617867e+16,0.0,5.297798e+17,NaN,1.045111,0.562273,3.812221,0.069218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.610318e+18,9.961184e+17,530.0,6.209530e+05,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.611261e+18,1.611253e+18,530.0,1.610533e+08,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.611999e+18,1.611999e+18,530.0,4.718948e+08,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.612899e+18,1.612899e+18,530.0,7.416080e+17,NaN,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.613923e+18,1.613923e+18,530.0,1.606105e+18,NaN,23.000000,6.000000,112.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN