In [2]:
import pandas as pd
import numpy as np
import scipy as sc

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [3]:
cd data

E:\Movie-Reccomendation-App\data

In [4]:
ls

 Volume in drive E is projects
 Volume Serial Number is 7261-B979

 Directory of E:\Movie-Reccomendation-App\data

13-01-2023  14:25    <DIR>          .
13-01-2023  14:25    <DIR>          ..
13-01-2023  14:25         2,000,289 movies.dat
13-01-2023  14:25        28,537,369 ratings.dat
13-01-2023  14:25         1,377,843 users.dat
               3 File(s)     31,915,501 bytes
               2 Dir(s)   8,054,558,720 bytes free

In [5]:
cd ..

E:\Movie-Reccomendation-App

In [6]:
users = pd.read_csv('data/users.dat' , sep = '::'
                   ,names=['user_id', 'twitter_id'] , engine='python')

In [7]:
users.head()

   user_id  twitter_id
0        1   139564917
1        2    17528189
2        3   522540374
3        4   475571186
4        5   215022153

In [8]:
ratings = pd.read_csv('data/ratings.dat', engine = 'python'
                     ,sep='::', names=['user_id', 'movie_id', 'rating'
                                       , 'rating_timestamp']).sort_values('rating_timestamp')

In [9]:
ratings.head()

        user_id  movie_id  rating  rating_timestamp
147805    11639   2171847       6        1362062307
613758    48189    444778       8        1362062624
641371    50219   1411238       6        1362062838
679235    52967   1496422       7        1362063503
779780    61176    118799       5        1362063653

In [10]:
movies = pd.read_csv('data/movies.dat', engine = 'python'
                    ,sep='::', names=['movie_id', 'movie_title', 'genre'])

In [11]:
movies

,movie_id,movie_title,genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror
...,...,...,...
38013,15711402,Les rois de l&x27;arnaque (2021),Crime|Documentary
38014,15831978,Cash (2021),NaN
38015,15839820,Sompoy (2021),Comedy|Romance
38016,15842076,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
38017,16058736,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN

In [14]:
movies.isnull().sum()

movie_id        0
movie_title     0
genre          54
dtype: int64

In [15]:
ratings.isnull().sum()

user_id             0
movie_id            0
rating              0
rating_timestamp    0
dtype: int64

In [17]:
users.isnull().sum()

user_id       0
twitter_id    0
dtype: int64

In [19]:
movie_ratings = (ratings.set_index('movie_id')
                .join(movies.set_index('movie_id'),how='left')
                )

In [20]:
movie_ratings

,user_id,rating,rating_timestamp,movie_title,genre
movie_id,,,,,
8,43471,5,1396981211,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
10,71498,10,1412878553,La sortie des usines Lumière (1895),Documentary|Short
12,70439,10,1439248579,The Arrival of a Train (1896),Documentary|Short
25,38130,8,1488189899,The Oxford and Cambridge University Boat Race ...,NaN
91,5887,6,1385233195,Le manoir du diable (1896),Short|Horror
...,...,...,...,...,...
15711402,50282,6,1636666858,Les rois de l&x27;arnaque (2021),Crime|Documentary
15831978,5608,7,1637518300,Cash (2021),NaN
15839820,45682,7,1636791431,Sompoy (2021),Comedy|Romance
15842076,279,10,1636303358,The Making of &x27;Rocky vs. Drago&x27; (2021),Documentary
16058736,279,10,1637095151,Rocky IV: Rocky vs Drago - The Ultimate Direct...,NaN